%%-*- mode: erlang-*-
{erl_opts, [
            debug_info,
            {parse_transform, lager_transform},
            {lager_truncation_size, 1024}
           ]}.

{ct_opts, [
           {sys_config, "config/test.sys.config"}
          ]}.

{deps, [
        {lager, "3.5.0"},
        {recon, "2.3.2"},
	{gun, {git, "https://github.com/ninenines/gun.git", {tag, "1.3.0"}}},
	{cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.8.0"}}},
	{jiffy, {git, "https://github.com/davisp/jiffy.git", {tag, "0.14.3"}}},
	{base58, {git, "https://github.com/mohsenmoqadam/erl-base58.git", {branch, "master"}}},
	{jwerl, {git, "https://github.com/G-Corp/jwerl.git", {tag, "1.1.0"}}}
       ]}.

{escript_main_app, gaby}.
{escript_name, "gaby_tools"}.
{escript_emu_args, "%%! -escript main gaby_tools\n"}.
{escript_incl_apps, [gaby, lager, uuid]}.

{profiles, [
            {test, [
                    {erl_opts, [{d, 'PROFILE', test},
                                {d, 'PROFILE_TEST'},
                                {lager_truncation_size, 10240}]},
                    {deps, [{meck, "0.8.4"}]}
                   ]},
            {dev, [
                   {erl_opts, [{d, 'PROFILE', dev},
                               {d, 'PROFILE_DEV'},
                               {lager_truncation_size, 10240}]},
                   {relx, [
                           {release,
                            {gaby, "gaby-version"},
                            [ssl,
                             mnesia,
                             recon,
                             lager,
			     gun,
			     cowboy,
			     jiffy,
			     base58, 
			     jwerl,
			     inets,
                             gaby,
                             {wx, load},
                             {observer, load},
                             {runtime_tools, load}
                            ]},
                           {dev_mode, true},
                           {include_erts, false},
                           {vm_args, "config/dev.vm.args"},
                           {sys_config, "config/dev.sys.config"}
                          ]}
                  ]},
            {stage, [
                     {erl_opts, [{d, 'PROFILE', stage},
                                 {d, 'PROFILE_STAGE'},
                                 {lager_truncation_size, 10240}]},
                     {relx, [
                             {release,
                              {gaby, "gaby-version"},
                              [ssl,
                               mnesia,
                               recon,
                               lager,
			       gun,
			       cowboy,
			       jiffy,
			       base58,
			       jwerl,
			       inets,
                               gaby,
                               {wx, load},
                               {observer, load},
                               {runtime_tools, load}
                              ]},
                             {dev_mode, false},
                             {include_erts, true},
                             {vm_args, "config/stage.vm.args"},
                             {sys_config, "config/stage.sys.config"}
                            ]}
                    ]},
            {prod, [
                    {erl_opts, [{d, 'PROFILE', prod},
                                {d, 'PROFILE_PROD'}]},
                    {relx, [
                            {release,
                             {gaby, "gaby-version"},
                             [ssl,
                              mnesia,
                              recon,
                              lager,
			      gun,
			      cowboy,
			      jiffy,
			      base58,
			      jwerl,
			      inets,
                              gaby
                             ]},
                            {overlay,
                             [{copy, "priv", "priv"}]},
                            {dev_mode, false},
                            {include_erts, true},
                            {vm_args, "config/prod.vm.args"},
                            {sys_config, "config/prod.sys.config"}
                           ]}
                   ]}
           ]}.

{relx, [
        {release,
         {gaby, "gaby-version"},
         [ssl,
          mnesia,
          recon,
          lager,
	  gun,
	  cowboy,
	  jiffy,
	  base58, 
	  jwerl,
	  inets,
          gaby,
          {wx, load},
          {observer, load},
          {runtime_tools, load}
         ]},
        {overlay,
         [{copy, "priv", "priv"}]},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true},
        {vm_args, "config/vm.args"},
        {sys_config, "config/sys.config"}
       ]}.

{overrides,
 [
  {override, jiffy, [
		     {plugins, [pc]},
                     {artifacts, ["priv/jiffy.so"]},  
                     {provider_hooks, [
				       {post, [{compile, {pc, compile}},
					       {clean, {pc, clean}}
					      ]
                                       }
				      ]
                     }
                    ]
  }
 ]
}.   
