%% -*- mode:erlang -*-
[{gaby, [ %% === JWT Token Configuration
	  {'gaby.jwt.key', "F373RG@d93t"}
	, {'gaby.jwt.expiration', 86400} % Seconds
	  %% Object Storage
	, {'gaby.host', "0.0.0.0"}
	, {'gaby.port', 5151}
	, {'gaby.pool.size', 64}
	, {'gaby.upload.general.path', "/gaby/general/v1/upload/:ost"}
	, {'gaby.download.general.path', "/gaby/general/v1/download/:ost/:oid"}
	, {'gaby.temp.general.path', "/tmp/gaby/general/temp"}
	, {'gaby.final.general.path', "/tmp/gaby/general/final"}
	, {'gaby.upload.avatar.path', "/gaby/avatar/v1/upload/:ost"}
	, {'gaby.download.avatar.path', "/gaby/avatar/v1/download/:ost/:uid"}
	, {'gaby.temp.avatar.path', "/tmp/gaby/avatar/temp"}
	, {'gaby.final.avatar.path', "/tmp/gaby/avatar/final"}
	, {'gaby.upload.onboarding.path', "/gaby/onboarding/v1/upload/:ost"}
	, {'gaby.download.onboarding.path', "/gaby/onboarding/v1/download/:oid"}
	, {'gaby.temp.onboarding.path', "/tmp/gaby/onboarding/temp"}
	, {'gaby.final.onboarding.path', "/tmp/gaby/onboarding/final"}
	]
 },
 {lager, [
          {error_logger_redirect, false},
          {colored, true},
          {colors,[{debug,"\e[104m"},
                   {info,"\e[100m"},
                   {notice,"\e[1;36m"},
                   {warning,"\e[33m"},
                   {error,"\e[41m"},
                   {critical,"\e[1;35m"},
                   {alert,"\e[1;44m"},
                   {emergency,"\e[1;41m"}]},
          {handlers, [
                      {lager_console_backend, [{level, debug}, {formatter, lager_default_formatter},
                                               {formatter_config, ["\e[1;49;34m", time, "\e[0m ",
                                                                   color, "[", severity,"]\e[0m ",
                                                                   {module, ["\e[42m", module, "\e[0m", {line, [":\e[1;32m", line, "\e[0m "], ""}], ""}, "",
                                                                   "\e[91m[\e[0m", message ,"\e[91m]\e[0m" , "\r\n"]}]},
                      {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
                      {lager_file_backend, [{file, "log/console.log"}, {level, info}]},
                      {lager_file_backend, [{file, "log/debug.log"}, {level, debug}]}
                     ]}
         ]
 }].
